<header>
  <nav class="navbar navbar-expand-md navbar-dark" id="top-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="logo-wrap">
      <span><i class="logo fas fa-map-marked-alt"></i></span>
      <span>Wiki Map</span>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/maps">Maps</a>
        <% if (locals["user"]) { %>
          <a class="nav-item nav-link" href="/maps/new">New Map</a>
          <a class="nav-item nav-link" href="/users/me"><%= user%>'s Profile (<%= locals["email"] ? email : "" %>)</a>
        <% } %>
      </div>
    </div>
    </nav>
</header>
