<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New Map - Wiki Map</title>

    <!-- EXTERNAL CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- INTERNAL CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- EXTERNAL SCRIPTS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c3a813e049.js" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCAplTJyT-ASYUBVXRl-BwWsWEmn-7P3A&libraries=places"></script>


    <!-- INTERNAL SCRIPTS -->
    <script type='text/javascript' src='/scripts/config.js'></script>
    <script type="text/javascript" src="/scripts/keys.js"></script>
    <script type="text/javascript" src="/scripts/ui-helpers.js"></script>
    <script type="text/javascript" src="/scripts/utilities.js"></script>
    <script type="text/javascript" src="/scripts/map-api-helpers.js"></script>
    <script type="text/javascript" src="/scripts/helpers.js"></script>
    <script type="text/javascript" src="/scripts/search-box.js"></script>
    <script type="text/javascript" src="/scripts/new-map.js"></script>

  </head>

  <body>
    <%- include('partials/_header') %>

    <main>
      <div class="form-container">
        <section id="new-map">
          <h3>Create A New Map</h3>
          <form id="new-map-form" action="/maps" method="POST">
            <div class="section-head"><span class="number">1</span>Give it a name</div>
            <input type="text" name="name">
            <div class="section-head"><span class="number">2</span>Choose a location</div>
            <input id="search-box" type="text" name="location" placeholder="Search for a place...">
          </form>
        </section>
        <div id="new-map-wrapper">
          <div id="mapid"></div>
          <span id="coordinates">
            <span class="lat">Lat: </span>
            <span class="long">Long: </span>
          </span>
        </div>
        <div id="submit-form">
          <button form="new-map-form"type="submit">Submit</button>
          <span id="err">
            <span><i class="fas fa-exclamation-circle"></i></span>
            <span class="errMsg"></span>
          </span>
        </div>
      </div>
    </main>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
