<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New Map - Wiki-Maps</title>

    <!-- EXTERNAL CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <!-- INTERNAL CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- EXTERNAL SCRIPTS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js" integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww==" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c3a813e049.js" crossorigin="anonymous"></script>

    <!-- INTERNAL SCRIPTS -->
    <script type="text/javascript" src="/scripts/ui-helpers.js"></script>
    <script type="text/javascript" src="/scripts/map-helpers.js"></script>
    <script type="text/javascript" src="/scripts/helpers.js"></script>
    <script type="text/javascript" src="/scripts/new-map.js"></script>

  </head>

  <body>
    <%- include('partials/_header') %>

    <main style="margin: 1em;">
      <div id="mapid" style="height: 500px"></div>
      <h3>Create a new map</h3>
      <form  action="/maps" method="POST">
        <div>
          <label for="name">Name:</label>
          <input type="text" name="name" style="width: 300px; margin: 1em">
          <label class="coord" for="lat">Latitude:</label>
          <input class="coord" type="text" name="lat" style="width: 300px; margin: 1em">
          <label class="coord" for="long">Longitude:</label>
          <input class="coord" type="text" name="long" style="width: 300px; margin: 1em">
          <button type="submit">Submit</button>
        </div>
        <div class="err" style="display: none;">
          <span><i class="fas fa-exclamation-circle"></i></span>
          <span class="errMsg"></span>
        </div>
      </form>
    </main>
  </body>
</html>
