$prim-clr: #667292;
$prim-clr-trnslcnt: #343a4a;
$sec-clr: #8d9db6;
$tert-clr: #bccad6;
$back-clr: #f1e3dd;


$prim-font: "Times New Roman", Times, serif;
$sec-font: Arial, Helvetica, sans-serif;

$nav-font: 16px;

$map-w: 95vw;
$map-h: 75vh;


// $prim-clr: #87bdd8;
// $sec-clr: #b7d7e8;
// $tert-clr: #cfe0e8;
// $back-clr: #daebe8;
