$prim-clr: #667292;
$sec-clr: #8d9db6;
$tert-clr: #bccad6;
$back-clr: #f1e3dd;

$map-w: 600px;
$map-h: 500px;

// $prim-clr: #87bdd8;
// $sec-clr: #b7d7e8;
// $tert-clr: #cfe0e8;
// $back-clr: #daebe8;
