button {
  width: auto;
  height: auto;
  display: inline-block;
  border: none;
  border-radius: 0.2rem;
  margin: 0.15rem;
  color: white;
  background-color: $sec-clr;
  box-shadow: 1px 1px 4px 1px $prim-clr;
  cursor: pointer;

  &:hover {
    filter: brightness(115%);
  }
  &:focus {
    outline: none;
  }
  &.add-pin {
    background-color: rgb(0, 180, 0);
  }
  &.adding {
    color: white;
    background-color: rgb(180, 0, 0);
    border-color: $prim-clr;
  }
  &.edit {
    color: $tert-clr;
    background-color: $prim-clr;
  }
  &.submit {
    color: white;
    background-color:  rgb(0, 180, 0);
  }
  &.delete {
    color: white;
    background-color: rgb(180, 0, 0);
  }
}

