@use 'vars';

button {
  width: auto;
  height: auto;
  display: inline-block;
  border: none;
  border-radius: 0.2em;
  margin: 0.1em;
  background-color: vars.$tert-clr;
  &:hover {
    filter: brightness(115%);
  }
  &:focus {
    outline: none;
  }
  &.add-pin {
    background-color: rgb(0, 180, 0);
  }
  &.adding {
    background-color: rgb(255, 87, 87);
    border-color: vars.$prim-clr;
  }
  cursor: pointer;
}

