@use 'vars';

main {
  margin-top: 5em;
}

nav#top-nav {

  position: fixed;
  top: 0;
  background-color: vars.$prim-clr;
  width: 100%;

  div.logo-wrap {
    display: flex;
    align-items: center;
  }

}

.logo {
  font-size: 2em;
}
