main {
  margin-top: 4em;
}

nav#top-nav {
  z-index: 10000;
  position: fixed;
  top: 0;
  background-color: $prim-clr;
  width: 100%;

  div.logo-wrap {
    display: flex;
    align-items: center;
    justify-self: center;
    > * {
      margin-left: 0.2em;
    }
  }

}

.logo {
  font-size: 2em;
}
