// See: https://sass-lang.com/
@use 'vars';
@use 'button';
@use 'header';
@use 'pin-popout';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  .favorited * {
    color: red;
  }

}
