// See: https://sass-lang.com/

@import 'vars';
@import 'map-preview';
@import 'button';
@import 'header';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  .favorited * {
    color: red;
  }

}
