// See: https://sass-lang.com/

$prim-clr: #667292;
$sec-clr: #8d9db6;
$tert-clr: #bccad6;
$back-clr: #f1e3dd;

// $prim-clr: #87bdd8;
// $sec-clr: #b7d7e8;
// $tert-clr: #cfe0e8;
// $back-clr: #daebe8;


body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  .favorited * {
    color: red;
  }

}
