$max-height: 440px;
$max-width: 660px;
$img-asp-ratio: 66.667%;

.map-preview {
  padding: 25px 50px 25px 50px;

  div.preview-wrapper {
    position: relative;
    padding-top: $img-asp-ratio;
    max-height: $max-height;
    max-width: $max-width;

    img {
      width: 100%;
      max-width: $max-width;
      position: absolute;
      top: 0;
      transition: .5s ease;
    }

    header {
      position: absolute;
      bottom: 0;
      width: 100%;
      max-width: $max-width;

      display: none;
      justify-content: space-between;
      background-color: $prim-clr-trnslcnt;
      color: $back-clr;
      font-family: $prim-font;

      span {
        padding: 5px;
      }

      a:link {
        color: $sec-clr;
      }

      a:visited {
        color: $tert-clr;
      }
    }

    [data-action] {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 15px 15px 15px;
      font-size: 30px;
      transition: .5s ease;
      opacity: 0.5;
    }
  }

  div.preview-wrapper [data-action]:hover {
    opacity: 1;
  }

  div.preview-wrapper:hover {
    img {
      opacity: 0.5;
    }

    header {
      display: flex;
    }
  }
}

