div.pinned-map {
  > header {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    margin: auto;
    padding-top: 20px;

    div {
      display: flex;
      justify-content: space-between;
      span {
        width: 30%;
        font-size: 0.5em;
        &.date {
          text-align: left;
        }
        &.creator {
          width: 40%;
          text-align: center;
        }
        &.views {
          text-align: end;
          > *{
            margin-right: 0.2em;
          }
        }
      }
    }
  }
}

#map {
  max-width: 992px;
  width: $map-w;
  margin: auto;

  #mapid {
    max-width: 992px;
    min-height: 500px;
    width: 100%;
    height: $map-h;
    border: 0.2rem solid $prim-clr;
    border-radius: 0.5rem;
    &.pinpoint {
      cursor: crosshair;
    }
    @media only screen and (max-width: 400px) {
      .leaflet-control-zoom.leaflet-bar.leaflet-control a {
        font-size: 16px;
        width: 20px;
        height: 25px;
        line-height: 25px;
      }
    }

  }

  footer {
    display: block;
    .buttons {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      justify-content: stretch;
      > * {
        font-size: 1em;
        display: block;
        span {
          margin-left: 0.5em;
          margin-right: 0.5em;
        }
        flex: 1 1 0;
      }
    }
  }
}

