$preview-max-h: 400px;
$preview-max-w: 600px;
$side-pad: 30px;
$img-asp-ratio: 66.667%;

@media (min-width: $preview-max-w + $side-pad + $side-pad) {
  .map-preview {
    margin-left: auto;
    margin-right: auto;
    width: $preview-max-w + $side-pad + $side-pad;

    div.preview-wrapper {
      padding-top: 0;
      height: $preview-max-h;
    }
  }
}

.map-preview {
  padding: 25px $side-pad 25px $side-pad;

  h3 {
    padding-left: 20px;
    color: $prim-clr;
    font-family: $prim-font;
  }

  div.preview-wrapper {
    position: relative;
    padding-top: $img-asp-ratio;
    max-height: $preview-max-h;
    max-width: $preview-max-w;

    img {
      width: 100%;
      max-width: $preview-max-w;
      position: absolute;
      top: 0;
      transition: .5s ease;
    }

    div {
      position: absolute;
      bottom: 0;
      width: 100%;
      max-width: $preview-max-w;
      padding: 0 10px 0 10px;

      display: none;
      justify-content: space-between;
      background-color: $prim-clr-trnslcnt;
      color: $body-clr;
      font-family: $sec-font;
      font-size: 15px;
      opacity: 70%;

      span {
        padding: 5px;
      }

      a:link {
        color: $sec-clr;
      }

      a:visited {
        color: $tert-clr;
      }
    }

    [data-action] {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 15px 15px 15px;
      font-size: 30px;
      transition: .5s ease;
      opacity: 0.5;
    }
  }

  div.preview-wrapper [data-action].favorited:hover {
    opacity: 1;
  }

  div.preview-wrapper:hover {
    img {
      opacity: 0.5;
    }

    div {
      display: flex;
    }
  }
}

