$min-label-w: 270px;
$max-label-w: 320px;

@media (min-width: 768px) {
  #new-map {
    float: left;
    width: 35%;
    min-width: $min-label-w;
    max-width: $max-label-w;
    padding-right: 0;

    form {
      input {
          width: 100%;
      }
    }
  }

  #submit-form {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
    min-width: $min-label-w;
    max-width: $max-label-w;
    //margin-left: auto;

    button[form="new-map-form"] {
      margin: 50px 0 10px 30px;
    }
  }

  #new-map-wrapper {
    float: right;
    width: 55%;
    min-width: 400px;

    #mapid {
      height: auto;
    }
  }
}
