@use 'vars';

div.leaflet-popup-content {
  max-height: vars.$map-h * 2 / 3;
  width: vars.$map-w * 2 / 3;
  .pin {
    height: vars.$map-h * 2 / 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      border-style: none none solid none;
      width: 100%;
      outline-width: 0.1em;
    }

    textarea {
      width: 100%;
      resize: none;
    }

    header {
      max-height: 100%;
      font-weight: bold;
      font-size: 2em;
    }

    > div.body {
      display: block;
      height: 35%;
    }

    div.buttons {
      display: flex;
      width: 100%;
      justify-content: stretch;
      > * {
        flex: 1;
      }
    }

    img {
      display: block;
      height: 35%;
      max-width: 100%;
    }
  }
}

